:root {
  --color-dark: #1e2332;
  --color-primary: #458ff6;
  --color-grey: #7d7987;
}

* {
  font-family: "Mulish", sans-serif;
}

.btn {
  border: none;
  border-radius: 55px;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  opacity: 80%;
}

.btn-secondary {
  background: white;
  border: 1.4px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-secondary:hover {
  background: var(--color-primary);
  color: white;
}

/* LANDING STYLES */

.container {
  max-width: 1300px;
  margin: auto;
}

/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
}

.page-header nav {
  display: flex;
  gap: 40px;
}

.page-header nav a {
  color: var(--color-dark);
  font-size: 18px;
  text-decoration: none;
  opacity: 60%;
}

.page-header nav a.nav-active {
  opacity: 100%;
  font-weight: bold;
}

#hero-section {
  display: flex;
  gap: 86px;
}

#hero-section .ornament {
  object-fit: contain;
  height: 115px;
  width: 131px;
  position: absolute;
  left: -20px;
}

#hero-section .left-col {
  align-self: center;
}

#hero-section .left-col h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 25px;
}

#hero-section .left-col p {
  color: var(--color-grey);
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 45px;
}

#our-services-section {
  margin-top: 192px;
}

#our-services-section h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

#our-services-section h2::after {
  background: var(--color-dark);
  height: 2px;
  width: 56px;
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  bottom: -26px;
}

#our-services-section .description {
  color: var(--color-grey);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  max-width: 80%;
  margin: auto;
  margin-top: 56px;
}

#our-services-section .card-wrapper {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 80px;
}

#our-services-section .card-wrapper .card {
  border-radius: 20px;
  background: white;
  filter: drop-shadow(10px 40px 50px #e5e9f676);
  padding: 54px 37px;
}

#our-services-section .card-wrapper .card h3 {
  font-weight: bold;
  font-size: 24px;
}

#our-services-section .card-wrapper .card p {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-grey);
  line-height: 28px;
}

#our-services-section .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 128px;
}
